</br></br></br></br></br>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2><b><center>{{user.fullName}}'s Profile</center></b></h2>
                <h1><center>IMAGE</center></h1>
                <p><center><a class="btn btn-primary  btn-sm">Change Picture</a></center></p>
                <h3><li><b>Email:</b> {{user.email}}</li></h3>
                <h3><li><b>Real Name:</b> {{user.fullName}}</li></h3>
                <h3><li><b>Contact Info:</b> (YET TO BE DONE)</li></h3>
                </br>
                <h2><b><center>Open Listings</center></b></h2>
                <center>YET TO BE DONE</center>


            </div>
        </div>
    </div>
</div>