</br></br></br></br></br>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2><b><center>{{user.fullName}}'s Profile</center></b></h2>
                <form action="/user/profile" enctype="multipart/form-data" method="POST">
                    <div style="margin: 5%;">
                        <center><img style="margin: 2%" id="pic" width="200" src="{{user.profilePicPath}}" alt="No profile picture selected."></center>
                        <center>
                            <button class="btn btn-me btn-primary" type="submit" onclick="CheckFiles()">Update</button>
                            <input type="file" name="profilePic" id="profile-pic" required> 
                        </center>
                    </div>
                </form>
                
                <h3><li><strong>Email:</strong> {{user.email}}</li></h3>
                <h3><li><strong>Code Name:</strong> {{user.fullName}}</li></h3>
                <h3><li><strong>Contact Info:</strong> Missing</li></h3>
                </br>
                <h2><strong><center>Open Listings</center></strong></h2>

                <script>
                    function CheckFiles(){
                        var files = document.getElementById('profile-pic').files;
                        if(files.length === 0){
                            alert('You need to upload a file first!');
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>